@{
    ViewBag.Title = "Home";
}

@model List<BlogSystem.Models.Post>

<div class="jumbotron">
    <h1>Blog System</h1>
    <p class="lead">A simple Blog System created with ASP.NET.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2>@post.Title</h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                <p>@BlogSystem.HelperClasses.TextUtils.TextExcerpt(post.Body, 500)</p>
            </div>
        </article>
    }
</section>